---
title: Contact us
//- bodyClass: contacts-page
//- outClass: Index_Page
---
extends layouts/_layout
block content

	.barba-container(data-namespace="contacts")
		.block
			.logo-wrap.bg-brend
				a(href="home.html")
					+icon('logo')
			.block-load
				.block-grid
					.aside.bg-brend
						.aside-content
							h1 Contact us
							h4 address
							p.text-middle 210035, Smolenskaya 5-1, shopping center "Europe" office 103. Vitebsk, Belarus
							a(href="#") Open road map
							h4 Contact
							.contacts-wrap
								a.link(href="tel:+375(29)6336069") +375 (29) 633 60 69
								a.link(href="tel:+375(33)6006069") +375 (33) 600 60 69
								a.link(href="mailto:info@inmodels.by") info@inmodels.by
							a(href="7-0-Become-model.html").bttn.normal
								span Become a model
					.main.bg-white
						.main-content
							.form-block
								form#contacts-form(action="#").js-validate
									.input-row
										.input-item.c2
											input.input-field(type="text"
												id="user-name"
												data-validation="required"
												data-validation-error-msg="required field")
											label.input-label(for="user-name") Name
										.input-item.c2
											input.input-field(type="tel"
												id="user-tel")
											label.input-label(for="user-tel") Phone
										.input-item
											input.input-field(type="email"
												id="user-email"
												data-validation="email"
												data-validation-error-msg="required field")
											label.input-label(for="user-email") Email
										.input-item.input-textarea
											textarea.input-field(type="text"
												id="user-msg"
												rows="1.5"
												data-validation="required"
												data-validation-error-msg="required field")
											label.input-label(for="user-msg") Message
										.input-item.c2.drop-item
											label.input-label(for="user-file")
												span.drop-item__icon
													+icon('cross')
												input.input-field.drop-input(
													type="file"
													id="user-file"
													data-validation="mime size" 
													data-validation-allowing="jpg, png, gif" 
													data-validation-max-size="2M"
													data-validation-error-msg-size="Загрузите файл не больше 2Мб"
													data-validation-error-msg-mime="Вы можете загрузить изображения или документ .pdf")
												span Attach file
											.file-name-wrap
												span.file-name
												a.clear-file(href="#")
													+icon('cross-X')
										.input-item.c2.input-bttn
											button.bttn.normal(type="submit" )
												span send a message
								.block-success
									.block-success__title
										p.text-big Thank you!
									.block-success__msg
										p.text-middle We are very glad that you paid your attention to us.
										p.text-middle In the near future our employee will contact you.
									a(href="home.html").bttn.transparent
										span Go to home page